<nav class="fixed w-full dark:bg-neutral-950 z-10">
    <div class="mx-auto max-w-[680px] pl-4 md:pl-0 flex justify-between items-center space-y-1">
        <a href="/" class="no-underline font-semibold dark:text-white">Home</a>

        <div class="flex hover:text-white nav-items">
            <a href="/blog" class="no-underline">
                <span>Blog</span>
            </a>
            <a href="/about" class="no-underline">
                <span>About</span>
            </a>
        </div>
    </div>
</nav>
